### **Ejercicio 1: Limpiar y transformar columnas de texto**
Dado el siguiente DataFrame de productos:

In [2]:
import pandas as pd

data = {
    'Producto': ['Café', 'té', ' chocolate', ' Cacao '],
    'Precio': [100, 80, 150, 120],
    'Categoría': ['bebidas calientes', 'bebidas calientes', 'snacks dulces', ' bebidas calientes ']
}

df_productos = pd.DataFrame(data)
print(df_productos)

     Producto  Precio            Categoría
0        Café     100    bebidas calientes
1          té      80    bebidas calientes
2   chocolate     150        snacks dulces
3      Cacao      120   bebidas calientes

1. Elimina los espacios en blanco de las columnas **Producto**.
2. Convierte todos los valores de la columna **Categoría** a mayúsculas.
3. Reemplaza la categoría 'snacks dulces' por 'postres'.
4. Crea una nueva columna que indique si el precio es mayor o igual a 120. Usa una función `lambda` para esto.

In [15]:
#1. Elimina los espacios en blanco de las columnas **Producto**.
df_productos['Producto'] = df_productos['Producto'].str.strip()
inplace=True
print(df_productos)

    Producto  Precio            Categoría
0       Café     100    bebidas calientes
1         té      80    bebidas calientes
2  chocolate     150        snacks dulces
3      Cacao     120   bebidas calientes

In [16]:
#2. Convierte todos los valores de la columna **Categoría** a mayúsculas.
df_productos['Categoría'] = df_productos['Categoría'].str.upper()
inplace=True
print(df_productos)

    Producto  Precio            Categoría
0       Café     100    BEBIDAS CALIENTES
1         té      80    BEBIDAS CALIENTES
2  chocolate     150        SNACKS DULCES
3      Cacao     120   BEBIDAS CALIENTES

In [19]:
#3. Reemplaza la categoría 'snacks dulces' por 'postres'.
df_productos['Categoría'] = df_productos['Categoría'].str.replace('SNACKS DULCES','POSTRES')
inplace=True
print(df_productos)

    Producto  Precio            Categoría
0       Café     100    BEBIDAS CALIENTES
1         té      80    BEBIDAS CALIENTES
2  chocolate     150              POSTRES
3      Cacao     120   BEBIDAS CALIENTES

In [21]:
#4. Crea una nueva columna que indique si el precio es mayor o igual a 120. Usa una función `lambda` para esto.
df_productos['>=120'] = df_productos['Precio'].apply(lambda x: x >=120)
inplace=True
df_productos

    Producto  Precio            Categoría  >=120
0       Café     100    BEBIDAS CALIENTES  False
1         té      80    BEBIDAS CALIENTES  False
2  chocolate     150              POSTRES   True
3      Cacao     120   BEBIDAS CALIENTES    True

### **Ejercicio 2: Limpieza de duplicados y manejo de datos faltantes**
Dado el siguiente DataFrame de empleados:

In [45]:
data_empleados = {
    'Nombre': ['Ana', 'Luis', 'Pedro', 'Luis', 'Juan', 'Ana'],
    'Edad': [29, 45, None, 40, 35, 29],
    'Departamento': ['Ventas', 'Finanzas', 'RRHH', 'Finanzas', 'Marketing', None]
}

df_empleados = pd.DataFrame(data_empleados)
print(df_empleados)

  Nombre  Edad Departamento
0    Ana  29.0       Ventas
1   Luis  45.0     Finanzas
2  Pedro   NaN         RRHH
3   Luis  40.0     Finanzas
4   Juan  35.0    Marketing
5    Ana  29.0         None

1. Elimina las filas duplicadas en base a la columna **Nombre**. Quédate con la persona `más joven´.
2. Llena los valores faltantes de la columna **Edad** con la media de las edades.
3. Llena los valores faltantes de la columna **Departamento** con el valor 'Desconocido'.
4. Ordena el DataFrame por edad de forma descendente.

In [46]:
#1. Elimina las filas duplicadas en base a la columna **Nombre**. Quédate con la persona `más joven´.
df_empleados = df_empleados.sort_values(by='Edad')
df_empleados = df_empleados.drop_duplicates('Nombre')
inplace=True
print(df_empleados)

  Nombre  Edad Departamento
0    Ana  29.0       Ventas
4   Juan  35.0    Marketing
3   Luis  40.0     Finanzas
2  Pedro   NaN         RRHH

In [49]:
#2. Llena los valores faltantes de la columna **Edad** con la media de las edades.
df_empleados['Edad'] = df_empleados['Edad'].fillna(df_empleados['Edad'].median())
inplace=True
print(df_empleados)

  Nombre  Edad Departamento
0    Ana  29.0       Ventas
4   Juan  35.0    Marketing
3   Luis  40.0     Finanzas
2  Pedro  35.0         RRHH

In [52]:
#3. Llena los valores faltantes de la columna **Departamento** con el valor 'Desconocido'.
df_empleados['Departamento'] = df_empleados['Departamento'].fillna('Desconocido')
inplace=True
print(df_empleados)

  Nombre  Edad Departamento
0    Ana  29.0       Ventas
4   Juan  35.0    Marketing
3   Luis  40.0     Finanzas
2  Pedro  35.0         RRHH

In [55]:
#4. Ordena el DataFrame por edad de forma descendente.
df_empleados = df_empleados.sort_values(by='Edad',ascending=False) 
inplace=True
print(df_empleados)

  Nombre  Edad Departamento
3   Luis  40.0     Finanzas
4   Juan  35.0    Marketing
2  Pedro  35.0         RRHH
0    Ana  29.0       Ventas

### **Ejercicio 3: Aplicar funciones a las columnas**
Dado un DataFrame de ventas de productos:

In [66]:
data_ventas = {
    'Producto': ['Café', 'Té', 'Jugo', 'Agua'],
    'Precio': [120, 80, 90, 60],
    'Cantidad': [3, 5, 2, 8]
}

df_ventas = pd.DataFrame(data_ventas)
print(df_ventas)

  Producto  Precio  Cantidad
0     Café     120         3
1       Té      80         5
2     Jugo      90         2
3     Agua      60         8

1. Calcula el total de ventas (Precio * Cantidad) y agrégalo como una nueva columna.
2. Crea una nueva columna llamada **Descuento** que aplique un descuento del 10% si el precio es mayor a 100, y del 5% si es menor o igual a 100. Usa la función `apply` y una función `lambda`.

In [75]:
#1. Calcula el total de ventas (Precio * Cantidad) y agrégalo como una nueva columna.
df_ventas['Total_Ventas'] = df_ventas['Precio'] * data_ventas['Cantidad']
print(df_ventas)

  Producto  Precio  Cantidad  Total_Ventas
0     Café     120         3           360
1       Té      80         5           400
2     Jugo      90         2           180
3     Agua      60         8           480

In [84]:
#2. Crea una nueva columna llamada **Descuento** que aplique un descuento del 10% si el precio es mayor a 100, 
# y del 5% si es menor o igual a 100. Usa la función `apply` y una función `lambda`
#df_ventas['Descuentos'] = if df_empleados['Precio'] > 100:
 #                           df_empleados['Precio'] .apply(lambda x: x * 0.10)
  #                      else:
   #                         df_empleados['Precio'] .apply(lambda x: x * 12)

IndentationError: unindent does not match any outer indentation level (<string>, line 5)

### **Ejercicio 4: Uso de funciones de cadena**
Dado el siguiente DataFrame de direcciones de clientes:

In [4]:
data_clientes = {
    'Cliente': ['Juan Pérez', 'Ana Ruiz', 'Pedro López'],
    'Dirección': ['calle falsa 123', 'Calle PRINCIPAL 45', 'AV. LOS robles 34']
}

df_clientes = pd.DataFrame(data_clientes)

1. Convierte todos los valores de la columna **Dirección** a minúsculas.
2. Reemplaza las abreviaturas "calle", "av." por "calle" y "avenida" respectivamente.
3. Extrae el número de la dirección y guárdalo en una nueva columna llamada **Número**.