#### **Ejercicio 1: Creación y manipulación de Series**
1. Crea una Serie que contenga las ventas de una tienda de lunes a viernes. Utiliza las siguientes cantidades:
   - Lunes: 100
   - Martes: 150
   - Miércoles: 200
   - Jueves: 50
   - Viernes: 300
   
2. Realiza las siguientes operaciones sobre la Serie:
   - Accede al valor de las ventas del miércoles.
   - Calcula el total de ventas de la semana.
   - Filtra los días donde las ventas fueron mayores a 100.

In [1]:
import pandas as pd;
ventas = pd.Series([100, 150, 200, 50, 300], index=["Lunes", "Martes", "Miércoles", "Jueves", "Viernes"])



# 1. Acceder al valor de las ventas del miércoles
ventas_miercoles = ventas["Miércoles"]
print(f"Ventas del miércoles: {ventas_miercoles}")

Ventas del miércoles: 200

In [4]:
# 2. Calcular el total de ventas de la semana
total_ventas = ventas.sum()
print(f"Total de ventas de la semana: {total_ventas}")

Total de ventas de la semana: 800

In [2]:
# 3. Filtrar los días donde las ventas fueron mayores a 100
ventas_mayores_100 = ventas[ventas > 100]
print("Días con ventas mayores a 100:")
print(ventas_mayores_100)

Días con ventas mayores a 100:
Martes       150
Miércoles    200
Viernes      300
dtype: int64

#### **Ejercicio 2: Creación y análisis de un DataFrame**
1. Crea un DataFrame que contenga los nombres y edades de las siguientes personas:
   - Ana, 23 años
   - Luis, 35 años
   - María, 29 años
   
2. Realiza las siguientes operaciones sobre el DataFrame:
   - Accede a la columna de los nombres.
   - Filtra las filas donde la edad sea mayor a 25.
   - Agrega una nueva columna con los salarios de las personas (Ana: 30000, Luis: 45000, María: 35000).

In [3]:

data = {"Nombre": ["Ana", "Luis", "María"], "Edad": [23, 35, 29]}
df = pd.DataFrame(data)

# 1. Acceder a la columna de los nombres
nombres = df["Nombre"]
print("Columna de nombres:")
print(nombres)

Columna de nombres:
0      Ana
1     Luis
2    María
Name: Nombre, dtype: object

In [4]:
# 2. Filtrar las filas donde la edad sea mayor a 25
mayores_25 = df[df["Edad"] > 25]
print("Personas con edad mayor a 25:")
print(mayores_25)

Personas con edad mayor a 25:
  Nombre  Edad
1   Luis    35
2  María    29

In [6]:
# 3. Agregar una nueva columna con los salarios
df["Salario"] = [30000, 45000, 35000]
print("DataFrame con la columna de salarios:")
print(df)

DataFrame con la columna de salarios:
  Nombre  Edad  Salario
0    Ana    23    30000
1   Luis    35    45000
2  María    29    35000

#### **Ejercicio 3: Cálculos con DataFrames**
1. Crea un DataFrame con información de ventas de productos en una tienda:
   - Productos: "Laptop", "Mouse", "Teclado"
   - Ventas: 30, 120, 75
   - Precio por unidad: 1000, 50, 80

2. Calcula:
   - La venta total para cada producto (multiplicando el precio por unidad por las ventas).
   - El total de ingresos para todos los productos.

In [9]:
#1. Crea un DataFrame con información de ventas de productos en una tienda:

productos_data = {
    "Producto": ["Laptop", "Mouse", "Teclado"],
    "Ventas": [30, 120, 75],
    "Precio por unidad": [1000, 50, 80]
}
df_productos = pd.DataFrame(productos_data)

In [16]:
# 1. Calcular la venta total para cada producto
df_productos["Venta Total"] = df_productos["Ventas"] * df_productos["Precio por unidad"]
print("Venta total para cada producto:")
print(df_productos)

Venta total para cada producto:
  Producto  Ventas  Precio por unidad  Venta Total
0   Laptop      30               1000        30000
1    Mouse     120                 50         6000
2  Teclado      75                 80         6000

In [17]:
df_productos

  Producto  Ventas  Precio por unidad  Venta Total
0   Laptop      30               1000        30000
1    Mouse     120                 50         6000
2  Teclado      75                 80         6000

In [18]:
# 2. Calcular el total de ingresos para todos los productos
total_ingresos = df_productos["Venta Total"].sum()
print(f"Total de ingresos: {total_ingresos}")

Total de ingresos: 42000

#### **Ejercicio 4: Transformación y limpieza de datos en DataFrames**
1. Crea un DataFrame con información de estudiantes y sus calificaciones en tres materias:
   - Estudiantes: "Ana", "Luis", "María", "Carlos"
   - Matemáticas: 90, 85, None, 78
   - Ciencia: 88, 92, 85, None
   - Historia: 75, None, 80, 90

2. Realiza las siguientes operaciones:
   - Rellena los valores faltantes con la media de cada columna.
   - Renombra las columnas de las materias en inglés (Math, Science, History).
   - Calcula la calificación promedio de cada estudiante.

In [22]:

# Creación del DataFrame con información de estudiantes y calificaciones
estudiantes_data = {
    "Estudiante": ["Ana", "Luis", "María", "Carlos"],
    "Matemáticas": [90, 85, None, 78],
    "Ciencia": [88, 92, 85, None],
    "Historia": [75, None, 80, 90]
}
df_estudiantes = pd.DataFrame(estudiantes_data)

In [26]:
# 1. Rellenar los valores faltantes con la media de cada columna
df_estudiantes.fillna(df_estudiantes.mean(), inplace=True)

TypeError: Could not convert ['AnaLuisMaríaCarlos'] to numeric

In [24]:
# 2. Renombrar las columnas de las materias en inglés
df_estudiantes.rename(columns={"Matemáticas": "Math", "Ciencia": "Science", "Historia": "History"}, inplace=True)

In [25]:
# 3. Calcular la calificación promedio de cada estudiante
df_estudiantes["Promedio"] = df_estudiantes[["Math", "Science", "History"]].mean(axis=1)

print("DataFrame transformado y con promedios:")
print(df_estudiantes)

DataFrame transformado y con promedios:
  Estudiante  Math  Science  History   Promedio
0        Ana  90.0     88.0     75.0  84.333333
1       Luis  85.0     92.0      NaN  88.500000
2      María   NaN     85.0     80.0  82.500000
3     Carlos  78.0      NaN     90.0  84.000000