#### **Ejercicio 1: Creación y manipulación de Series**
1. Crea una Serie que contenga las ventas de una tienda de lunes a viernes. Utiliza las siguientes cantidades:
   - Lunes: 100
   - Martes: 150
   - Miércoles: 200
   - Jueves: 50
   - Viernes: 300
   
2. Realiza las siguientes operaciones sobre la Serie:
   - Accede al valor de las ventas del miércoles.
   - Calcula el total de ventas de la semana.
   - Filtra los días donde las ventas fueron mayores a 100.

In [11]:

import pandas as pd
#Crea una Serie que contenga las ventas de una tienda de lunes a viernes. Utiliza las siguientes cantidades:
ventas = pd.Series({'Lunes':100,'Martes':150,'Miercoles':200,'Jueves':50,'Viernes':300})
print(ventas)

Lunes        100
Martes       150
Miercoles    200
Jueves        50
Viernes      300
dtype: int64

In [12]:
#Accede al valor de las ventas del miércoles.
print(ventas['Miercoles'])

200

In [13]:
#Calcula el total de ventas de la semana.
print(ventas.sum())

800

In [14]:
# Filtra los días donde las ventas fueron mayores a 100.
condicion = ventas[ventas > 100]
print(condicion)

Martes       150
Miercoles    200
Viernes      300
dtype: int64

#### **Ejercicio 2: Creación y análisis de un DataFrame**
1. Crea un DataFrame que contenga los nombres y edades de las siguientes personas:
   - Ana, 23 años
   - Luis, 35 años
   - María, 29 años
   
2. Realiza las siguientes operaciones sobre el DataFrame:
   - Accede a la columna de los nombres.
   - Filtra las filas donde la edad sea mayor a 25.
   - Agrega una nueva columna con los salarios de las personas (Ana: 30000, Luis: 45000, María: 35000).

In [15]:
#Crea un DataFrame que contenga los nombres y edades de las siguientes personas
data = {'Nombre': ['Ana', 'Luis', 'María'], 'Edad': [23, 35, 29]}
df = pd.DataFrame(data)
print(df)

  Nombre  Edad
0    Ana    23
1   Luis    35
2  María    29

In [16]:
#Accede a la columna de los nombres
print(df['Nombre'])

0      Ana
1     Luis
2    María
Name: Nombre, dtype: object

In [17]:
#Filtra las filas donde la edad sea mayor a 25.
condicion = df[df['Edad'] > 25]
print(condicion)

  Nombre  Edad
1   Luis    35
2  María    29

In [18]:
#Agrega una nueva columna con los salarios de las personas (Ana: 30000, Luis: 45000, María: 35000).
df['Salario'] = [30000, 45000, 35000]
print(df)

  Nombre  Edad  Salario
0    Ana    23    30000
1   Luis    35    45000
2  María    29    35000

#### **Ejercicio 3: Cálculos con DataFrames**
1. Crea un DataFrame con información de ventas de productos en una tienda:
   - Productos: "Laptop", "Mouse", "Teclado"
   - Ventas: 30, 120, 75
   - Precio por unidad: 1000, 50, 80

2. Calcula:
   - La venta total para cada producto (multiplicando el precio por unidad por las ventas).
   - El total de ingresos para todos los productos.

In [19]:
#Crea un DataFrame con información de ventas de productos en una tienda
data = {'Productos': ['Laptop', 'Mouse', 'Teclado'], 'Ventas': [30,120,75], 'Precio por unidad': [1000,50,80]}
df = pd.DataFrame(data)
print(df)

  Productos  Ventas  Precio por unidad
0    Laptop      30               1000
1     Mouse     120                 50
2   Teclado      75                 80

In [23]:
#La venta total para cada producto (multiplicando el precio por unidad por las ventas)
df['Ventas por producto'] = df['Ventas'] * df['Precio por unidad']
print(df)

  Productos  Ventas  Precio por unidad  Ventas por producto
0    Laptop      30               1000                30000
1     Mouse     120                 50                 6000
2   Teclado      75                 80                 6000

In [26]:
#El total de ingresos para todos los productos.
print(df['Ventas por producto'].sum())

42000

#### **Ejercicio 4: Transformación y limpieza de datos en DataFrames**
1. Crea un DataFrame con información de estudiantes y sus calificaciones en tres materias:
   - Estudiantes: "Ana", "Luis", "María", "Carlos"
   - Matemáticas: 90, 85, None, 78
   - Ciencia: 88, 92, 85, None
   - Historia: 75, None, 80, 90

2. Realiza las siguientes operaciones:
   - Rellena los valores faltantes con la media de cada columna.
   - Renombra las columnas de las materias en inglés (Math, Science, History).
   - Calcula la calificación promedio de cada estudiante.

In [33]:
#Crea un DataFrame con información de estudiantes y sus calificaciones en tres materias
data = {'Estudiantes': ['Ana', 'Luis', 'María', 'Carlos'], 'Matematica': [90, 85, None, 78], 'Ciencia': [88, 92, 85, None], 'Historia': [75, None, 80, 90]}
df = pd.DataFrame(data)
print(df)

  Estudiantes  Matematica  Ciencia  Historia
0         Ana        90.0     88.0      75.0
1        Luis        85.0     92.0       NaN
2       María         NaN     85.0      80.0
3      Carlos        78.0      NaN      90.0

In [34]:
#Rellena los valores faltantes con la media de cada columna.
df.at[1, 'Historia'] = 99
df.at[2, 'Matematica'] = 99
df.at[3, 'Ciencia'] = 99
print(df)

  Estudiantes  Matematica  Ciencia  Historia
0         Ana        90.0     88.0      75.0
1        Luis        85.0     92.0      99.0
2       María        99.0     85.0      80.0
3      Carlos        78.0     99.0      90.0

In [40]:
#Renombra las columnas de las materias en inglés (Math, Science, History).
df.rename(columns={'Matematica': 'Math', 'Ciencia': 'Science', 'Historia': 'History'}, 
          inplace=True)
print(df)

  Estudiantes  Math  Science  History
0         Ana  90.0     88.0     75.0
1        Luis  85.0     92.0     99.0
2       María  99.0     85.0     80.0
3      Carlos  78.0     99.0     90.0

In [46]:
#Calcula la calificación promedio de cada estudiante.
df['Media de calificacion'] = df['Math'] + df['Science'] + df['History']
df['Media de calificacion'] = df['Media de calificacion'] / 3
print(df)

  Estudiantes  Math  Science  History  Media de calificacion
0         Ana  90.0     88.0     75.0              84.333333
1        Luis  85.0     92.0     99.0              92.000000
2       María  99.0     85.0     80.0              88.000000
3      Carlos  78.0     99.0     90.0              89.000000